* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 100vh;
}

.calculator {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5em;
}

.row {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.row > button {
    flex: 1;
}

.screen {
    display: block;
    font-size: larger;
    color: white;
}

button:disabled {
    color: black;
    cursor: not-allowed;
}

.buttons {
    flex: 4;
    display: flex;
    flex-flow: column nowrap;
}

.screen {
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
    background-color: #2B292A;
    border-radius: 1em;
    border: none;
}

.equation {
    flex: 1;
    padding: 0.3em;
}

.output {
    flex: 1;
    padding: 0.3em;
}

button {
    background-color: black;
    color: green;
    cursor: pointer;
    border-radius: 1em;
    border: 0;
    margin: 0.1em;
}

button:hover {
    background-color: rgb(75, 69, 69);
}

button:disabled:hover {
    background-color: black;
}